<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <h1>Criar perfil</h1>
        <form>
            <h3>Dados</h3>
            <input name="name">
            <input name="document">
            <input name="password">
            <input name="email">
            <input name="phone">
            <input type="submit" value="Criar">
        </form>
    </div>

</body>
</html>