<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <h1>Cadastrar novo cliente</h1>
        <form>
            <h3>Dados</h3>
            <div>
                <input type="radio" id="Pix" name="permission" value="Pix" checked />
                <label for="Pix">Pix</label>
                <input type="radio" id="cartao" name="permission" value="cartao" />
                <label for="cartao">cartão</label>
                <input type="radio" id="boleto" name="permission" value="boleto" />
                <label for="boleto">Boleto</label>
            <input type="submit" value="Criar">
            </div>
            <div>
                <input name="name" placeholder="Nome">
                <input name="document" placeholder="Documento">
                <input name="email" placeholder="Email">
                <input name="phone" placeholder="Telefone">
            </div>
        </form>
    </div>

</body>
</html>